/* Universal Selector*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* color variables*/
:root {
    --black: #31343D;
    --black-op-01: #31343d83; 
    --white: #fff;
    --blue: #236192;
    --blue-op-01: #2362923a;
}

/* elements */
a {
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* color overides */
.dark {
    background-color: var(--black-op-01);
}

.white {
    color: var(--white);
}