/* Universal Selector*/
* {
    /* margin: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* color variables*/
:root {
    --black: #31343D; 
    --white: #fff;
}

/*  */
body {
    background-color: var(--lighterblue);
    margin: 10px;
}
