/* Universal Selector*/
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
}

/* color variables*/
:root {
    --lightblue: #A6B6C9;
    --oceanblue: #2D7CDB;
    --blue: #80B8F8;
    --deepblue: #205CAD;
    --darkblue: #3E5065;
    --purple: #5D1C3D;
    --lightpurple: #faeff5;
    --black: #31343D; 
    --white: #fff;
}

body {
    background-color: var(--lightblue);
}

/* individual style selectors*/

/* nav styling*/
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 0;
    background-color: var(--black);
}

nav > ul {
    display: flex;
    flex-direction: row; 
    padding-right: 60px;   
}

nav > ul > li {
    list-style-type: none;
    font-size: 23px;
    padding: 9px 18px;
    margin: 4px;
    border-bottom: solid 4px var(--black);
}

nav > ul > li:hover {
    border-bottom: solid 4px var(--deepblue);
}

nav > ul > li > a {
        display: block;
        font-size: 23px;
        text-decoration: none;
        color: var(--oceanblue);
   }

/* styles the image below the main navigation*/
.hero {
    display: flex;
    width: 100%;
    height: 197px;
    background-image: url(./images/hero.png);
    justify-content: end;
    align-items: center;
    font-size: 32px;
}

p {
    color: var(--deepblue);
}

.profile-group>* {
    color: var(--purple);
}

.profile-group a {
    color: var(--purple);
}

.profile-group>p {
    text-align: center;
}

h1 {
    display: block;
    color: var(--oceanblue);
    font-size: 30px;
    text-align: end;
    /* background-color: var(--deepblue); */
    width: 230px;
    padding: 1px 20px;
}

h2 {
    display: block;
    background-color: var(--oceanblue);
    padding: 3px 10px;
    font-size: 32px;
    margin-top: 100px;
    margin-right: 80px;
}

h3 {
    display: block;
    padding: 3px 10px;
    border-right: solid 4px var(--oceanblue);
    font-size: 32px;
    text-align: right;
    color: var(--deepblue);
    margin: 0 20px;
    min-width: 120px;
    max-width: 120px;
}

h4 { 
    font-size: 28px;
    color: var(--white);
    padding-right: 12px;
}

/* sets style of links */
a {
    color: #faeff5;
}

p>a:hover {
    text-decoration: underline;
}

/* sets the layout for section labels and content*/
.section-style {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

/* sets the padding around the profile content group(image/credits)*/
.profile-group {
    padding: 0 10px;
    padding-left: 10px;
    padding-right: 20px;
}

/* defines the profile image border*/
.profile-image {
    border-radius: 12px;
    width: 230px;
}

/* defines the layout of content inside about me.*/
#about-me {
    display: flex;
    flex-direction: row;
}

/* defines the placement of the article title and subtitle.*/
.label {
    position: absolute;
    left: 0%;
    bottom: 6%;
    display: inline-block;
    background-color: var(--oceanblue);
    padding: 3px 10px;
    z-index: 1;
}

/* defines the alyout for items inside of the work titled section*/
.projects {
    display: flex;
    flex-wrap: wrap;
}

/* individaul style for the focus (primary) article.*/
#article_0 {
    position: relative;
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: auto;
    width: 90%;
    min-width: 200px;
    min-height: 300px;
}

/* layout for all secondary articles*/
article {
    position: relative;
    border-left: solid 4px var(--oceanblue);
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1 0 auto;
    min-width: 200px;
    min-height: 200px;
    width: 40%;
}

/* defines the background image for individual articles*/
#article_0 {
    background-image: url(./images/translation_app_01.png);
    background-size: cover;
}

#article_1 {
    background-image: url(./images/weather_01.png);
    background-size: cover;
}

#article_2 {
    background-image: url(./images/quiz_01.png);
    background-size: cover;
}

#article_3 {
    background-image: url(./images/scheduler_01.png);
    background-size: cover;
}

#article_4 {
    background-image: url(./images/hawsfield_02.png);
    background-size: cover;
}

#article_0:hover {
    opacity: 1;
}

.image-label {
    display: none;
    color: var(--black);
    background-color: var(--white);
    padding: 3px 12px 3px 12px;
    border-left: solid 2px var(--purple);
    font-size: 16px;
    position: absolute;
    box-shadow: 10px 5px 5px var(--purple);
}

article:hover .image-label {
    display: block;
    transition-duration: 1s;
    /* opacity: 0.90; */
}

/* defines the entire article as a link*/
.block {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2px;
}

/* defines the layout for contact links*/
.contact-links {
   display: flex;
}

/* footer style selectors*/
div > ul {
    display: flex;
    flex-direction: row; 
    gap: 10%;
    align-items: center;
}

div > ul > li {
    margin: 4px;
    border-bottom: solid 4px var(--oceanblue);
    white-space: nowrap;
}

div > ul > li > a {
    text-decoration: none;
    font-size: 22px;
    color: var(--black);
}

/* change to list items in footer to wrap for screen sizes below 760px
   change about me to wrap and reverse the order for screen sizes below 760px*/
@media only screen and (max-width: 760px) {
    div > ul {
        flex-wrap: wrap;
    }    

    #about-me {
        flex-wrap: wrap-reverse;    
    }    

    .profile-group {
        padding-bottom: 10px;
        padding-left: 0px;
    }

    nav > ul {
        flex-wrap: wrap;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
        min-width: 60px;
        max-width: 60px;
    }
}
