/*Universal Selector*/
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
}

/*Individual style selectors*/

/*nav styling*/
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 0;
    background-color: #31343D;
}

nav > ul {
    display: flex;
    flex-direction: row; 
    padding-right: 60px;   
}

nav > ul > li {
    list-style-type: none;
    font-size: 23px;
    padding: 9px 18px;
    margin: 4px;
    border-bottom: solid 4px #92CCCD;

}

nav > ul > li > a {
        display: block;
        font-size: 23px;
        text-decoration: none;
        color: #92cccd;
   }

/*Styles the image below the main navigation*/
.hero {
    display: flex;
    width: 100%;
    height: 197px;
    background-image: url(./images/hero.png);
    justify-content: end;
    align-items: center;
    font-size: 32px;
}

h1 {
    display: block;
    color: #31343D;
    font-size: 30px;
    text-align: end;
    background-color: #92CCCD;
    width: 230px;
    padding: 1px 20px;
}

h2 {
    display: block;
    background-color: #92CCCD;
    padding: 3px 10px;
    font-size: 32px;
    margin-top: 100px;
    margin-right: 80px;
}

h3 {
    display: block;
    padding: 3px 10px;
    border-right: solid 4px #445876;
    font-size: 32px;
    text-align: right;
    color: #445876;
    margin: 0 20px;
    min-width: 120px;
    max-width: 120px;
}

h4 { 
    font-size: 28px;
}

/*sets the layout for section labels and content*/
.section-style {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

/*sets the padding around the profile content group(image/credits)*/
.profile-group {
    padding: 0 10px;
}

/*defines the profile image border*/
.profile-image {
    border-radius: 12px;
    width: 230px;
}

/*defines the layout of content inside about me.*/
#about-me {
    display: flex;
    flex-direction: row;
}

/*defines the placement of the article title and subtitle.*/
.label {
    position: absolute;
    left: 0%;
    bottom: 6%;
    display: inline-block;
    background-color: #92CCCD;
    padding: 3px 10px;
    z-index: 1;
}

/*defines the alyout for items inside of the work titled section*/
.projects {
    display: flex;
    flex-wrap: wrap;
}

/*Individaul style for the focus (primary) article.*/
#article_0 {
    position: relative;
    display: block;
    border: solid 4px #92CCCD;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-grow: 10;
    flex-basis: auto;
    width: 90%;
    min-width: 200px;
    min-height: 200px;
}

/*layout for all secondary articles*/
article {
    position: relative;
    border: solid 4px #92CCCD;
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1 0 auto;
    min-width: 200px;
    min-height: 200px;
    width: 40%;
}

/*defines the background image for individual articles*/
#article_0 {
    background-image: url(./images/rectangle-xsmall-dark.png);
}

#article_1 {
    background-image: url(./images/rectangle-xsmall-blu.png);
}

#article_2 {
    background-image: url(./images/rectangle-xsmall-green.png);
}

#article_3 {
    background-image: url(./images/rectangle-xsmall-purple.png);
}

#article_4 {
    background-image: url(./images/rectangle-xsmall-grey.png);
}

article {
    opacity: .8;
}

article~:hover {
    opacity: 1;
}

#article_0:hover {
    opacity: 1;
}

/*defines the entire article as a link*/
.block {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2px;
}

/*defines the layout for contact links*/
.contact-links {
   display: flex;
}

/*Footer style selectors*/
div > ul {
    display: flex;
    flex-direction: row; 
    gap: 10%;
    align-items: center;
}

div > ul > li {
    margin: 4px;
    border-bottom: solid 4px #92CCCD;
    white-space: nowrap;
}

div > ul > li > a {
    text-decoration: none;
    font-size: 22px;
    color: #31343D;
}

/*Change to list items in footer to wrap for screen sizes below 760px
  Change about me to wrap and reverse the order for screen sizes below 760px*/
@media only screen and (max-width: 760px) {
    div > ul {
        flex-wrap: wrap;
    }    

    #about-me {
        flex-wrap: wrap-reverse;    
    }    

    .profile-group {
        padding-bottom: 10px;
    }

    nav > ul {
        flex-wrap: wrap;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
        min-width: 60px;
        max-width: 60px;
    }
}
